<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.datasource">java:/comp/env/jdbc/banco</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping resource="bancoWeb3/datos/EntidadBancaria.hbm.xml"/>
        <mapping resource="bancoWeb3/datos/CuentaBancaria.hbm.xml"/>
        <mapping resource="bancoWeb3/datos/MovimientoBancario.hbm.xml"/>
        <mapping resource="bancoWeb3/datos/SucursalBancaria.hbm.xml"/>
    </session-factory>
</hibernate-configuration>